body{
    background-color: antiquewhite;
}
img{
    border-radius: 50px;
}
header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
background-color: black;
color: palevioletred;
}
header a{
    text-decoration: none;
    float: right;
}